<!-- <button class="save-btn" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  Save
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="handleBackdropClick()">
  <div class="save-popup">
    Profile successfully saved.
    <button (click)="closePopover()">OK</button>
  </div>
</ng-template>
<router-outlet></router-outlet> -->

<!-- unsaved changes button -->
<button class="save-btn" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  Save
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
[cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="handleBackdropClick()">
<div class="save-popup">
  You have unsaved changes that will be lost!
  <div class="btn">
    <button (click)="closePopover()">OK</button>
    <button (click)="closePopover()">CANCEL</button>
  </div>
</div>
</ng-template>
<!-- End: unsaved changes button -->

<!-- save button -->
<button class="save-btn" (click)="isOpen1 = !isOpen1" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  Save
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen1"
[cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="handleBackdropClick()">
<div class="save-popup">
  Profile successfully saved.
  <div class="btn">
    <button (click)="closePopover()">OK</button>
  </div>
</div>
</ng-template>
<!-- End: save button -->