 .save-popup {
    width: 300px;
    height: auto;
    // border: solid 1px #ccc;
    border-radius: 6px;
    // box-shadow: 5px 10px lightgray;
    border: 1px solid lightgray;
    background: #FFFFFF;
    text-align: center;
    padding: 24px 12px 16px 12px;
    // margin: 0;
    font-size: 16px;
    color: #031837;
  }
  
  .save-btn{
    padding: 7px;
    width: 70px;
    margin: 20px 10px;
    color: white;
    background-color: #2880FC;
    border: none;
    border-radius:4px;
  }
.btn {
  button{
    padding: 7px;
    width: 70px;
    margin: 20px 10px;
    color: white;
    background-color: #2880FC;
    border: none;
    border-radius:4px;
  }
}
